*{
    border: 1px solid black;
}

.margin-top{
    padding: 15px 15px ;
}

.top-nav{
    height: 50px;
}
.navbar ul li{
    display:inline-block;
    text-decoration: none;
    padding: 15px 15px;
}

.container{
    text-align: center;
}
